body {
    margin: 0;
    padding: 0;
}

#warp {
    min-width: 1400px;
}

#header {
    background-color: #85a5ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px;
    color: #ffffff;
}

#header h1 {
    margin-top: 0;
}

#header img {
    height: 80px;
}

.title {
    font-size: 35px;
    padding: 30px 0 20px;
}

.rabbit {
    font-size: 18px;
    padding: 0 0 30px;
}

#main {
    min-width: 1400px;
    width: 98vw;
    display: flex;
    justify-content: center;
}

.main-body {
    width: 62%;
    display: flex;
}

.main_content {
    width: 70%;
    border-right: 1px solid #ffadd2;
}

.main_list {
    width: 30%;
    padding: 20px;
    font-size: 20px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_text {
    text-indent: 29px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding: 10px 0 0 24px;
}

.content_one {
    font-size: 24px;
    padding: 10px 10px 10px;
}

.content_one::before {
    content: "/";
    color: #91d5ff;
}

.content_two {
    font-size: 20px;
    padding: 10px 10px 10px;
}

.content_two::before {
    content: "//";
    color: #91d5ff;
}

.content_three {
    font-size: 16px;
    padding: 10px 10px 10px;
}

.content_three::before {
    content: "///";
    color: #91d5ff;
}

.content_size {
    font-size: 14px;
}

.nav {
    width: 50%;
    height: 35px;
    display: flex;
    justify-content: center;
    line-height: 35px;
    padding: 5px 10px;
    border-radius: 6px;
    margin: 6px 0;
    background-color: #91d5ff;
    color: #ffffff;
}